#trivia-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.5em;
}
#choice-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#flex-one {
	display: flex;
	flex-direction: column;
}
#flex-two {
	display: flex;
	flex-direction: column;
}
#question {
	text-align: center;
	border: solid #b6af06;
	padding: 0.5em;
	background-color: #850707;
}
.answerChoice {
	display: block;
	padding: 0.5em;
	margin: 1.5em;
	color: black;
	font-weight: bolder;
	height: 5em;
	width: 15em;
	border-radius: 1.5em;
}
#userChoice2,
#userChoice4 {
	margin-bottom: 0.5em;
}
#point-Display,
#correct-Display {
	text-align: right;
}
#nextBTN {
	text-align: center;
	visibility: visible;
	padding: 0.5em;
	margin: 0;
	width: 13%;
	height: 15%;
}

#questions-container,
#results-container {
	display: none;
}

#resultsHeader {
	text-align: center;
	margin-bottom: 0.5em;
	border: solid #0c725a;
	background-color: #b6af06;
}
.resultsText {
	text-align: center;
	font-size: 1.5rem;
	margin: 0.2em 0;
	color: white;
}

#exit {
	margin: 0.5em auto;
	padding: 0.3em;
	background-color: #b6af06;
	border: solid #0c725a;
	font-size: 1.3rem;
	cursor: pointer;
}

@media (min-width: 0px) and (max-width: 670px) {
	.trivia-container {
		transform: translateY(5%);
	}
	#instructions-text {
		font-size: 1.2rem;
	}
	#total-score {
		font-size: 1.4rem;
	}
	.answerChoice {
		padding: 0.3em;
		margin: 1.3em;
		height: 4em;
		width: 10em;
		font-size: 0.8rem;
	}
	#question {
		font-size: 0.9rem;
	}
	#trivia-text {
		font-size: 1.1rem;
	}
	#resultsHeader {
		font-size: 1.5rem;
	}
	.resultsText {
		font-size: 1rem;
	}
	#exit {
		font-size: 1rem;
	}
	#nextBTN {
		font-size: 0.8rem;
		width: 25%;
	}
	.trivia-content i {
		font-size: 0.8rem;
	}
	.trivia-content {
		font-size: 0.9rem;
	}
}
@media (min-width: 500px) and (max-width: 559px) {
	#trivia-text {
		font-size: 1rem;
	}
	.resultsText {
		font-size: 1.3rem;
	}
}
@media (min-width: 400px) and (max-width: 499px) {
	#question {
		font-size: 0.8rem;
	}
}
@media (min-width: 0px) and (max-width: 399px) {
	#trivia-text {
		font-size: 0.8rem;
	}
	.answerChoice {
		font-size: 0.6rem;
	}
}
