<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Daniel Wilson">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marvel Trivia</title>
  <link rel="shortcut icon" href="#" />
</head>
<body>
  <header id="full-container">
    <div id="flex-container">
    <h1 class="mainTitle">MARVEL TRIVIA</h1>
    <h3 id= "total-score" class='mainTitle'> {{ totScore }} </h3>
    <button #instructionsBTN id="instructionsBTN">INSTRUCTIONS</button>
    <div id="chooseDiff">
      <div id="diffCont">
     <h3 id="chooseDiffText"> {{ chooseDiffText }}</h3>
    </div>
     <div #difficultyBTNS id="difficultyBTNS">
<button #easyBTN class = "diffBTNS hover-On" id="easyBTN">Easy</button>
<button #mediumBTN class = "diffBTNS hover-On" id="mediumBTN">Medium</button>
<button #hardBTN class = "diffBTNS hover-On" id="hardBTN">Hard</button>
</div>
</div>

<div #instructionsContainer id="instructions-container" class="trivia-container bg-blue">
  <div class="trivia-content">
    <span #close class="close">&times;</span>
  <p id="instructions-text">{{ instructionsText }}</p>
</div>
</div>
<button #refresh class= 'hover-On' id='refresh' onClick="window.location.reload();">Play Again!</button>
<app-maingame (newItemEvent)="scoreChange($event)"></app-maingame>
</div>
</header>
</body>